# Ignore your virtual environment
#venv/

# Ignore Jupyter checkpoints (auto-saved backups)
.ipynb_checkpoints/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore large or private data files
data/

# Ignore model output or temp files (optional)
*.h5
*.pkl
*.joblib
*.csv